<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">

    {% load static from staticfiles %}

    <link rel="stylesheet" href="{% static "css/ventas.css" %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <title>Ventas realizadas</title>
</head>
<body>
    
    


	<header>

		<div class="header-limiter">

			     <div class="buscador">
       <div class="input-group mb-2">
       
        
      </div>
    </div>
		</div>

	</header>

	<section class="main-content card">
		
            
            <div class="row t1">
                

                <div class="col-lg-3">
                    <div><label for="cli"></label>Cliente</div>
                    <div><input id="cli" type="text" value="{{f.cliente}}" readonly></div>
                </div>
                
                <div class="col-lg-3">
                     <div><label for="nit"></label>NIT</div>
                    <div><input id="nit" type="text" value="{{f.nit}}" readonly></div>
                </div>
                <div class="col-lg-3">
                     <div><label for="nrc"></label>NRC</div>
                    <div><input id="nrc" type="text" value="{{f.nrc}}" readonly></div>
                </div>
                <div class="col-lg-3">
                     <div><label for="nrc"></label>Fecha</div>
                    <div><input  id="nrc" type="text" value="{{ fa.fecha | date:"D d M Y"}}" readonly></div>
                </div>
               

            </div>



            <div class="row t2">
                <div class="col-lg-3">
                    <div><label for="cli">Número de factura</label></div>
                    <div><input id="cli" type="text" value="{{f.numfactura}}" readonly></div>
                </div>
                
                <div class="col-lg-3">
                     <div><label for="nit"></label>Tiraje</div>
                    <div><input id="nit" type="text" value="{{f.tiraje}}" readonly></div>
                </div>

                <div class="col-lg-3">
                     <div><label for="nrc"></label>Tipo</div>
                    <div><input id="nrc" type="text" value="{{f.tipo}}" readonly></div>
                </div>

                <div class="col-lg-3">
                     <div><label for="nrc"></label>Forma de pago</div>
                    <div><input id="nrc" type="text" value="{{f.fpago}}" readonly></div>
                </div>
            </div>

            <div class="row">
                
           <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Nombre del producto</th>
      <th scope="col">Precio unitario</th>
      <th scope="col">Ventas no sujetas</th>
      <th scope="col">Ventas exentas</th>
      <th scope="col">Ventas afectas</th>
     

    </tr>
  </thead>
  <tbody>

      {% for x in detalle %}

    <tr>
      <th scope="row">{{x.codproducto}}</th>
      <td>{{x.cantidad}}</td>
      <td>{{x.producto}}</td>
      <td>{{x.preciounitario}}</td>
      <td>0.00</td>
      <td >0.00</td>
      <td>{{x.ventasafectas}}</td>
     

    </tr>

 
   

        {% endfor %}

      
    <tr>
      <th class="thead-dark" style="text-align: right" colspan="7" scope="col">
      <div>
          <label for="">Sumas</label>
      <input type="text" value="{{fa.sumas}}">
      </div>
     
      <div>
          <label for="">IVA(13%)</label>
      <input type="text" value="{{fa.iva}}">
      </div>

      <div>
          <label for="">V.no Sujeta</label>
      <input type="text" value="0.00">
      </div>
      <div>
          <label for="">V. Exentas</label>
      <input type="text" value="0.00">
      </div>
      <div>
          <label for="">VENTA TOTAL</label>
      <input type="text" value="{{fa.total}}">
      </div>

      <div>
          <label for="">Efectivo</label>
          {% if fa.efectivo %}
      <input type="text" value="{{fa.efectivo}}">
           {% else %}
    <input type="text" value="0.00">
           {% endif %}
      </div>  

      <div>
          <label for="">Cambio</label>
       {% if fa.cambio %}
      <input type="text" value="{{fa.cambio}}">
           {% else %}
    <input type="text" value="0.00">
           {% endif %}
      </div>  
      </div>
      
      </th>
      
     

    </tr>


        </tbody>
        </table>
        </div>


	</section>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>