<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    {% load static from staticfiles %}


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/estilos.css" %}">

    <title>Productos</title>
</head>
<body>

    
        <div class="buscador">
       <div class="input-group mb-2">
       
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Escribe aqui el producto que deseas buscar...">
         <div class="input-group-prepend">
          <div class="input-group-text">BUSCAR</div>
        </div>
      </div>
    </div>
  


    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Existencias</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>

      {% for x in pr %}

    <tr>
      <th scope="row">{{x.codproducto}}</th>
      <td>{{x.nombre}}</td>
      <td>
          
    <select class="form-control" >
            <option>{{x.popular}}</option>
            <option>{{x.frecuente}}</option>
            <option>{{x.mayoreo}}</option>
       
    </select>    
      </td>
      <td>{{x.existencias}}</td>

      <td>
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter{{x.codproducto}}">Ver</button>
         <button type="button" class="btn btn-success" >Editar</button>
      </td>
    </tr>
 
   

{% endfor %}
  </tbody>
</table>




  {% for x in pr %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter{{x.codproducto}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Descripcion del producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{x.codproducto}}</th>
      <th scope="row">Bebida Alcoholica</th>
    </tr>
  </tbody>
</table>

 <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{x.nombre}}</th>
    </tr>
  </tbody>
</table>

 <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Costo Caja</th>
      <th scope="col">Costo Unitario</th>
      <th scope="col">Existencias</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{x.precio_unit}}</th>
      <th scope="row">{{x.precioindi}}</th>
      <th scope="row">{{x.existencias}}</th>
    </tr>
  </tbody>
</table>

 <table class="table">
  <thead class="thead-light">
    <tr>
       <th scope="col">Precio publico</th>
      <th scope="col">Precio comun</th>
      <th scope="col">Precio mayoreo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">${{x.popular}}</th>
      <th scope="row">${{x.frecuente}}</th>
      <th scope="row">${{x.mayoreo}}</th>
    </tr>
  </tbody>
</table>

 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}
 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>