<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">

    {% load static from staticfiles %}

    <link rel="stylesheet" href="{% static "css/ventas.css" %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <title>Ventas realizadas</title>

<style>

#fecha{
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

</style>

</head>
<body>
    
    


	<header>

		<div class="header-limiter">

			     <div class="buscador">
       <div class="input-group mb-2">
       
        
         <input id="fecha" class="form-control" type="date" name="fecha" step="1" min="207-01-01" max="2019-09-30" value="2019-08-04">

      </div>
    </div>
		</div>

	</header>

<div class="row">

	<section class="main-content">
	
           <table class="table">
  <thead class="thead-dark" style="font-size: 18px">
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Venta</th>

     

    </tr>
  </thead>
  <tbody>
    

      {% for x in lfinal %}

   
       
         
      <tr class="toc">
 
      <td scope="row">
       
        {{x.codigo}}
       
        </td>
      <td>{{x.producto}}</td>

        {% if x.mas %}
        <td>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg{{x.coddetalle}}">{{x.rprecio|floatformat:2 }}</button>
        </td>
        
        {% else %}
          <td>
         <a href="{% url "detalleventa" x.coddetalle %}"> <button type="button" class="btn btn-info">{{x.rprecio|floatformat:2 }}</button></a>
        </td>
        {% endif %}
      


      <td>{{ x.rcantidad}}</td>
      <th style="font-size: 20px">{{x.rtotal|floatformat:2}}</th>
      
       
   

    </tr>

    
    

   

{% endfor %}
  
  </tbody>
</table>

<h3 class="vt">Venta total: ${{total|floatformat:2}}</h3>

	</section>

   

</div>

{% for x in lfinal %}

  {% if x.mas %}



<div class="modal fade bd-example-modal-lg{{x.coddetalle}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

        	<section class="main-content">
	
           <table class="table">
  <thead class="thead-dark" style="font-size: 18px">
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Venta</th>

     

    </tr>
  </thead>
  <tbody>
    

      {% for a,b,c,d in x.comprimido %}

   
       
         
      <tr class="toc">
 
      <td scope="row">
       <a href="{% url "detalleventa" a %}"> <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg{{x.coddetalle}}">{{a }}</button></a>
        
       
        </td>
      <td>{{x.producto}}</td>

       
        <td>
        {{b}}
        </td>
     
      


      <td>{{c}}</td>
      <th style="font-size: 20px">{{d|floatformat:2}}</th>
      
       
   

    </tr>

    
    

   

{% endfor %}
  
  </tbody>
</table>

<h3 class="vt">Venta total: ${{x.rtotal|floatformat:2}}</h3>

	</section>



    </div>
  </div>
</div>



  {% endif %}

{% endfor %}




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>